

.loginBtn{
	width: 300px;
	cursor: pointer;
}
.loginBtn:hover{
	-webkit-box-shadow: 0px 1px 15px 3px rgba(255,255,255,1);
	-moz-box-shadow: 0px 1px 15px 3px rgba(255,255,255,1);
	box-shadow: 0px 1px 15px 3px rgba(255,255,255,1);
}
.usernameInput,.passwordInput{
	width: 300px;
	height: 35px;
	margin-bottom: 20px;
}

.formErrors{
	position: absolute;
	height: 110px;
	margin-left: 150px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.invalid-msg{
	color: white;
	padding: 15px;
	border-radius: 8px;
	border: 1px solid white;
	opacity: 0;
}
.msg-btn:hover{
	cursor: pointer;
	color:#00f5ff;
}
.show{
	opacity: 1;
	transition: all .3s;
}
