.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.createAccBtn:hover{
    -webkit-box-shadow: 0px 1px 15px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 15px 3px rgba(255,255,255,1);
    box-shadow: 0px 1px 15px 3px rgba(255,255,255,1);
}