form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}

label {
    margin-right: 210px;
}
.loginTitle{
    width: 290px;
    text-align:center;
    color: white;
}
.loginBtn{
    width: 167%;
    margin-left: -60px;
}